* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #0E0F19;
    background-color: #fefefe;
}

ul {
    list-style-type: none;
}

a{
    color: #0E0F19;
    text-decoration: none;
}

#header{
    height: 6.25em;
    width: 100%;
    padding: 0 0.625em;
    margin-bottom: 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    width: 50%;
    height: 100%;
}

.header-menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.header-menu li{
    transition: all 0.2s ease-in-out;
    font-size: 1.3em;
}

.header-menu li:hover {
    transform: scale(1.2);
    border-bottom: #0E0F19 0.0625em solid;
}

.header-social{
    width: 25%;
    height: 100%;
}

.header-social ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
}

.header-social li{
    transition: all 0.2s ease-in-out;
}

.header-social li:hover {
    transform: scale(1.4);
}

#presentation{
    margin-bottom: 3.125em;
    height: 15.625em;
    padding: 1.5em 0 1.5em 3em;
    background-color: #577590;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8em;
    color: #E2FCEF;
}

.presentation-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6em;
}

h2{
    font-size: 2.5em;
    font-weight: 900;
}

.presentation-job{
    font-size: 1.5em;
    font-weight: 400;
}

.presentation-tagline{
    font-style: italic;
}

.presentation-photo{
    height: 100%;
}

.presentation-photo img{
    height: 100%;
    width: 100%;
    border-radius: 18rem;
}

#about{
    margin-bottom: 3.125em;
}

.about-container{
    height: 25em;
    padding: 0 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
}

.about-paragraph{
    text-align: justify;
}

.about-photo{
    height: 100%;
    width: 40%;
}

.about-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5em;
    line-height: 1.4;
}

#objective{
    margin-bottom: 3.125em;
}

.objective-container{
    height: 25em;
    padding: 0 3em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
}

.objective-paragraph{
    text-align: justify;
}

.objective-photo{
    height: 100%;
    width: 40%;
}

.objective-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.objective-content{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    line-height: 1.4;
}

#footer{
    height: 9em;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #577590;
}

.footer-menu{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-menu a{
    color: #E2FCEF;
    width: 30%
}

.social-media{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a{
    font-size: 2em;
}

#contact{
    width: 70%;
    height: calc(100vh - 18.375em); 
    margin: auto;
}

.contact-container{
    height: 31.25em;
    Width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.contact-cta{
    width: 100%;
    height: 100%;
}

.contact-tagline{
    padding: 1em;
    position: relative;
    top: -9em;
    z-index: 3;
}

.contact-tagline p{
    font-size: 2em;
}

.contact-img-fadeaway{
    margin:0px 0px;
    padding:0px 0px;
    width: 100%;
    display:block;
    height: auto;
    position:relative;
}

.contact-img-fadeaway .conctact-bck-fade{
    position:absolute;
    top:0;
    left:0;
    right:0;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(255,255,255,1));
    background: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    width:100%;
    height:100%;
    z-index:2;    
}
.contact-img-fadeaway .contact-bck{
    width: 100%;
    height: auto;
    margin: 0px 0px;
    padding: 0px 0px;
    overflow: hidden;
    display: inline-block;

}
.contact-img-fadeaway .contact-bck img{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;

}

.contact-form{
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-title{
    font-size: 2em;
    font-weight: 900;
}

.contact-form div{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

#button{
    width: 75%;
    height: fit-content;
    padding: 0.6em;
    border: none;
    font-size: 1.25em;
    background-color: #577590;
    color: #E2FCEF;
}

#button:hover{
    background-color: #E2FCEF;
    color: #577590;
    border: #577590 1px solid;
    transition: all 100ms ease-in-out;
}

.contact-form input{
    height: 1.75em;
    border-radius: 0.3em;
    border: #0E0F19 .0625em solid;
}

.contact-form textarea{
    height: 6.25em;
    border-radius: 0.5em;
}