/****************
*** Variables ***
*****************/
$font-color: #323232;
$main-color: #087e8b;
$secondary-color:#CD8B76;
$tertiary-color:#222E50;
$test-color: #AA1155;
$error-color: #e3170a;
$background-color: #edf4f5;

$main-font: 'Satoshi';
$title-font: 'SUSE';
$tagline-font:'Playwrite CU'; 

$section-margin: 10rem;

$section-title: $main-color solid 0.625rem;

$breakpoints: (
    "sm": 480px, 
    "md": 768px,
    "xl": 1200px
);

/*************
*** Mixins ***
**************/

// Responsive
@mixin respond-to($breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}


// TEMP
$border: solid 1px $test-color; //TODO: remove before deployment
.hidden {
    display: none;
}

/****************
*** Reset CSS ***
*****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

// General styles
body {
    max-width: 120rem;
    margin: auto;
    background-color: $background-color;
    font-family: $main-font, sans-serif;
    line-height: 1.5rem;
}

main{
    width:80%;
    margin: auto;
}

footer{
    height: 6rem;
    width:100%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************
*** HEADER ***
**************/
.header-container {
    height: 8rem;
    width:100%;
    padding: 0 1.5rem;
    background-color: $main-color; // TODO: erase when or if background gradient is satisfying
    color: $background-color; //TODO: Make function dark background color => light color
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__home{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & img{
            width: 7rem;
            height: 7rem;
            margin-right: 1rem;
        }
    }

    &__menu{
        width: 50%;
        height: 100%;

        & ul{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            & li{
                display: flex;
            }
        }

        
        & a { // TODO: make mixin with animations
            height: 100%;
            width: 100%;
            color: $background-color;
            transition: all 0.2s ease-in-out; 

            &:hover {
                transform: scale(1.3);
                border-bottom: $background-color .125rem solid;
            }
        }
    }

    &__social{
        width: 18%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;

        & a {
                height: 100%;
                width: 100%;
                color: $background-color;
                transition: all 0.2s ease-in-out; // TODO: menu transition
        
                &:hover {
                    transform: scale(1.3);
                }
            }
    }

}

/************
*** ABOUT ***
*************/
.about{
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: $section-margin;
    
    &__photo{
        height: 100%;
        
        & img{
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    
    &__title{
        font-family: $title-font;
        font-size: 2rem;
        // line-height: normal; // TODO: need to manage on small screens when multiple lines
        // white-space: nowrap;
        border-bottom: $section-title;
    }

    &__tagline{
        font-family: $tagline-font;
        font-size: 1.2rem;
        // TODO: manage text overflow on p
    }

    &__presentation{
        display: flex;
        flex-direction: column;

        & span{
            font-weight: 900;
        }
    }

}

/************
*** GOALS ***
*************/

.goal{
    width: 100%;
    min-height: 20rem;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    margin-top: $section-margin;
    margin-bottom: $section-margin;

    &__title{

        &--content{
            font-family: $title-font;
            font-size: 3rem;
            border-bottom: $main-color solid 0.625rem;
        }
                
    }

    &__description{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
    }

    &__presentation{
        width: 100%;
        height: fit-content;
        grid-area: 1 / 1 / 2 / 3;
        position: relative;
        z-index:1;

        & span{
            font-weight: 900;
        }

        &::after{
            content: "";
            position: absolute;
            top: 110%;
            left: 25%;
            width: 50%;
            height: .25rem;
            border-bottom: 2px solid $font-color;
        }
    }

    // Stage 1
    &__stage-1{
        width: 100%;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__time{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-style: italic;
    }

    &__tasks{
        padding-left: 1.25rem;
        & li{
            list-style-type:circle;
        }
    }

    &__disclaimer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-style: italic;
        font-size: 0.8rem;
        margin-top: 1rem;
    }
    
    
    // Stage 2
    &__stage-2{
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .goal__tasks{
            align-self: center;
        }
    }

}

/******************
*** ACHIEVEMENT ***
*******************/
.achievement{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    gap: 3rem;
    margin-top: $section-margin;
    margin-bottom: $section-margin;
    
    &__section{
        width: fit-content;
        font-family: $title-font;
        font-size: 3rem;
        border-bottom: $main-color solid 0.625rem;
    }
    
    
    /***************************
    *** DEV achievement part ***
    ****************************/
    &__dev{
        max-width: 64rem;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
    }
    
    &__card{
        height: 21.875rem;
        overflow: hidden;
        
        position: relative; // S'assurer que le parent contrôle le positionnement de l'enfant
        
        &:hover .achievement__content {
            transform: translateY(0); // Amène l'élément à sa position visible sur hover
        }
    }
    
    &__fisheye{
        background-image: url(../img/fisheye_3.png);
        background-size: cover;
    }
    &__booki{
        background-image: url(../img/booki.jpg);
        background-size: cover;
    }
    &__cook{
        background-image: url(../img/petit_plat.jpg);
        background-size: cover;
    }
    &__password{
        background-image: url(../img/password_generator.jpg);
        background-size: cover;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        background: rgba(0,0,0,0.4);
        transition: transform 0.3s ease-in-out;
        transform: translateY(calc(100% - 4.5rem));
        position: absolute; // S'assurer que cet élément est positionné dans le parent
        bottom: 0;
        left: 0;
    }
                
    &__title{
        color:lighten($background-color, 10%);
        // background: radial-gradient(circle, rgba(8, 126, 139, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }

    & p{
        color:$background-color
    }

    &__button{
        cursor: pointer;
        margin-top: 1.5rem;
        padding: 0.75rem 1.5rem;
        font-size: 0.65rem;
        font-weight: bold;
        letter-spacing: 0.025rem;
        text-transform: uppercase;
        background-color: $main-color;
        color: $background-color;
        border: none;
        border-radius: .625rem;
        transition: all 0.2s ease-in-out;
        
        &:hover {
            background-color: lighten($tertiary-color, 30%);
            transform: scale(1.1);
        }
        
        &:focus {
            outline: 1px dashed yellow;
            outline-offset: 3px;
        }
    }

    /*****************************
    *** ADMIN achievement part ***
    ******************************/

    &__admin {
        max-width: 64rem;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
    }

    &__glpi {
        background-image: url(../img/glpi.png);
        background-size: cover;
        background-position: center center;
    }

    &__wordpress {
        background-image: url(../img/wordpress.png);
        background-size: cover;
        background-position: center center;
    }

    &__nagios {
        background-image: url(../img/nagios.jpg);
        background-size: cover;
        background-position: center center;
    }

    &__pfsense {
        background-image: url(../img/pfsense_2.png);
        background-size: cover;
        background-position: center center;
    }
}

/*************
*** SKILLS ***
**************/

.skills{
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    margin-top: $section-margin;
    
    &__title{
        width: fit-content;
        font-family: $title-font;
        font-size: 3rem;
        border-bottom: $main-color solid 0.625rem;
        align-self: end;
    }

    /******************
    *** Hard Skills ***
    *******************/

    &__hard{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 3rem;

        & h3{
            width: fit-content;
            font-family: $title-font;
            border-bottom: $main-color solid 0.25rem;
        }
    }

    &__language{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap: 3rem;
    }

    &__software{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap:3rem;
    }

    &__concept{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap: 3rem;
    }

    &__card{
        position: relative;
        max-width: 6rem;
        max-height: 6rem;
        border-radius: 50%;
        
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        &:not(.skills__loading):hover{
            .skills__text{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(0, 0, 0, 0.6);;
            }
        }
    }
    
    &__text{
        display: none;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        color: white;
    }

    &__wrap{
        height: 0rem;
        width: 50%;
        margin: auto;
        border: #323232 solid 1px;
    }
    
    /************************
    *** Loading Animation ***
    *************************/

    &__loading{
        position:relative;
        height: 128px;
        width: 128px;
    }

    @keyframes rotating{
        from{
            rotate: (0deg);
        }
        
        to{
            rotate: (360deg);
        }
    }
    
    @keyframes scrolling-text {
        0% {
            transform: translateX(100%);
        }

        50% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
    
    
    &__loader-main {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 40%;
        width: 40%;
        margin-top: -20%;
        margin-left: -20%;
        border-top: solid 3px $main-color;
        border-left: solid 3px $main-color;
        border-radius: 50%;
        animation: rotating 1.5s linear infinite;
    }

    &__loader-1 {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        width: 50%;
        margin-top: -25%;
        margin-left: -25%;
        border-right: solid 2px $test-color;
        border-bottom: solid 2px $test-color;
        border-radius: 50%;
        animation: rotating 2s reverse infinite;
    }

    &__loader-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 60%;
        width: 60%;
        margin-top: -30%;
        margin-left: -30%;
        border-top: solid 3px $tertiary-color;
        border-right: solid 3px $tertiary-color;
        border-radius: 50%;
        animation: rotating 2.1s linear infinite;
    }

    &__loader-3 {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 70%;
        width: 70%;
        margin-top: -35%;
        margin-left: -35%;
        border-bottom: solid 3px $main-color;
        border-right: solid 3px $main-color;
        border-radius: 50%;
        animation: rotating 1.8s reverse infinite;
    }

    &__loader-text {
        position: absolute;
        top: calc(100% - 0.5em);
        left: 50%;
        width: 100%;
        height: 100%;
        margin-top: -50%;
        margin-left: -50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        
        & p {
            position: relative;
            white-space: nowrap;
            color: $font-color;
            font-weight: bold;
            animation: scrolling-text 8s linear infinite;
            z-index: 1;
        }
    }

    /******************
    *** Soft Skills ***
    *******************/
    
    &__soft{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        & h3 {
            padding-top: 2rem;
            width: fit-content;
            font-family: $title-font;
            border-bottom: $main-color solid 0.25rem;

        }
    }
    
    &__container{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        gap: 4rem;
    }

    &__list {

        display: inline-block;
        min-height: 25rem;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
    }
    
    &--words{
        font-size: 1.25rem;
        padding: 1rem;
        background: rgba(255, 255, 255, .75);
        color: #000;
        display: inline;
        margin: 1rem;
        float: left;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

}

/******************
*** EXPERIENCES ***
*******************/

.experience{

    width: 100%;
    margin: auto;

    & h2 {
        width: fit-content;
        font-family: $title-font;
        font-size: 3rem;
        border-bottom: $main-color solid 0.625rem;
    }

    &--study{
        /* From https://css.glass */
            background: rgba(8, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border: 1px solid rgba(8, 255, 255, 0.14);
    }
    
    &--work{
        /* From https://css.glass */
        background: rgba(170, 17, 85, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border: 1px solid rgba(170, 17, 85, 0.14);
    }

    &__details{
        
        & h3{
        }
        
        & p:first-of-type{
            margin: 1.5rem;
            font-style: italic;
            font-weight: bold;
        }
    }

    // TIMELINE  © George Martsoukos - https://georgemartsoukos.com 
    // Found at https://codepen.io/tutsplus/pen/zYQqPYG
    
    &__timeline {
        padding: 50px 20px;
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 1000px;
        color: var(--dark-blue);
    
        & ol {
            position: relative;
            list-style: none;
        }
        
        & ol::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background: $main-color;
            z-index: 1;
        }
        
        & ol li .experience__item-inner {
            padding: 20px 180px;
            margin-bottom: 8vh;
        }
        
        & ol li .experience__time-wrapper {
            position: relative;
            font-size: 3rem;
            font-weight: bold;
            line-height: 0.9;
        }
        
        & ol li .experience__time-wrapper::before,
        & ol li .experience__time-wrapper::after {
            content: "";
            position: absolute;
            background: $main-color;
        }
        
        & ol li .experience__time-wrapper::before {
            top: 50%;
            left: -180px;
            transform: translateY(-50%);
            width: 0;
            height: 3px;
            transition: width 0.8s linear;
        }
        
        & ol li .experience__time-wrapper::after {
            top: calc(50% - 8px);
            left: -60px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transform: scale(0);
            transform-origin: left center;
            transition: all 0.4s linear;
        }
        
        & ol li time,
        & ol li .experience__details>* {
            opacity: 0;
            transition: 0.5s;
        }
        
        & ol li time {
            display: inline-block;
            transform: translateY(-30px);
        }
        
        & ol li .experience__details>* {
            transform: translateY(30px);
        }
        
        & ol li .experience__details h3 {
            font-size: 2rem;
            line-height: 1;
            margin: 15px 0;
        }
        
        /***********************
        *** ANIMATION STYLES ***
        ************************/
        
        & ol li.in-view .experience__time-wrapper::before {
            width: 120px;
        }
        
        & ol li.in-view .experience__time-wrapper::after {
            transition-delay: 0.8s;
            transform: scale(1.5);
        }
        
        & ol li.in-view time,
        & ol li.in-view .experience__details>* {
            opacity: 1;
            transform: none;
        }
        
        & ol li.in-view time {
            transition-delay: 1.3s;
        }
        
        & ol li.in-view .experience__details h3 {
            transition-delay: 1.5s;
        }
        
        & ol li.in-view .experience__details p {
            transition-delay: 1.7s;
        }
        
        /************************
        *** Responsive styles ***
        *************************/

        @media (max-width: 700px) {
            & ol li .experience__item-inner {
                padding: 20px 40px;
            }
        
            & ol li .experience__time-wrapper::before {
                display: none;
            }
        
            & ol li .experience__time-wrapper::after {
                left: -45px;
                transform-origin: center;
            }
        
            & ol li.in-view .experience__time-wrapper::after {
                transition-delay: 0s;
            }
        
            & ol li.in-view time {
                transition-delay: 0.5s;
            }
        
            & ol li.in-view .experience__details h3 {
                transition-delay: 0.7s;
            }
        
            & ol li.in-view .experience__details p {
                transition-delay: 0.9s;
            }
        }
    }
}

