// Variables
$font-color: #323232;
$main-color: #087e8b;
$secondary-color:#CD8B76;
$tertiary-color:#222E50;
$test-color: #AA1155;
$error-color: #e3170a;
$background-color: #D7D9CE;

$main-font: 'Satoshi';
$title-font: 'SUSE';
$tagline-font:'Playwrite CU'; 

$section-margin: 3.125rem;

$section-title: $main-color solid 0.625rem;

// TEMP
$border: solid 1px $test-color; //TODO: remove before deployment
.hidden {
    display: none;
}

// Reset CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

// General styles
body {
    max-width: 120rem;
    margin: auto;
    background-color: $background-color;
    font-family: $main-font, sans-serif;
    line-height: 1.5rem;
}

main{
    width:80%;
    margin: auto;
}

// Header
.header-container {
    height: 8rem;
    width:100%;
    padding: 0 1.5rem;
    background-color: $main-color; // TODO: erase when or if background gradient is satisfying
    color: $background-color; //TODO: Make function dark background color => light color
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__home{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & img{
            width: 7rem;
            height: 7rem;
            margin-right: 1rem;
        }
    }

    &__menu{
        width: 50%;
        height: 100%;

        & ul{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            & li{
                display: flex;
            }
        }

        
        & a { // TODO: make mixin with animations
            height: 100%;
            width: 100%;
            color: $background-color;
            transition: all 0.2s ease-in-out; 

            &:hover {
                transform: scale(1.3);
                border-bottom: $background-color .125rem solid;
            }
        }
    }

    &__social{
        width: 18%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;

        & a {
                height: 100%;
                width: 100%;
                color: $background-color;
                transition: all 0.2s ease-in-out; // TODO: menu transition
        
                &:hover {
                    transform: scale(1.3);
                }
            }
    }

}

// About
.about{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: $section-margin;
    
    &__photo{
        height: 100%;
        
        & img{
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    
    &__title{
        font-family: $title-font;
        font-size: 2rem;
        // line-height: normal; // TODO: need to manage on small screens when multiple lines
        // white-space: nowrap;
        border-bottom: $section-title;
    }

    &__tagline{
        font-family: $tagline-font;
        font-size: 1.2rem;
        // TODO: manage text overflow on p
    }

    &__presentation{
        display: flex;
        flex-direction: column;
    }

}

// Goal
.goal{
    width: 100%;
    min-height: 20rem;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    margin-top: $section-margin;
    margin-bottom: $section-margin;

    &__title{

        &--content{
            font-family: $title-font;
            font-size: 3rem;
            border-bottom: $main-color solid 0.625rem;
        }
                
    }

    &__description{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        grid-column-gap: 20px;
        grid-row-gap: 25px;
    }

    &__presentation{
        width: 100%;
        height: fit-content;
        grid-area: 1 / 1 / 2 / 3;
        position: relative;
        z-index:1;

        & span{
            font-weight: 900;
        }

        &::after{
            content: "";
            position: absolute;
            top: 105%;
            left: 25%;
            width: 50%;
            height: .25rem;
            border-bottom: 2px solid $font-color;
        }
    }

    // Stage 1
    &__stage-1{
        width: 100%;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__time{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-style: italic;
    }

    &__tasks{
        padding-left: 1.25rem;
        & li{
            list-style-type:circle;
        }
    }

    &__disclaimer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-style: italic;
        font-size: 0.8rem;
        margin-top: 1rem;
    }
    
    
    // Stage 2
    &__stage-2{
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
    }
}

// Achievement
.achievement{
    max-width: 64rem;
    margin: auto;
    // height: 20rem;
    display: flex;
    flex-flow: column wrap;
    // justify-content: start;
    // align-items: center;
    gap: 1.5rem;
    margin-top: $section-margin;
    margin-bottom: $section-margin;

    &__section{
        width: fit-content;
        font-family: $title-font;
        font-size: 3rem;
        border-bottom: $main-color solid 0.625rem;
    }


    /*
    * DEV achievement part
    */
    &__dev{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
    }
    
    &__card{
        height: 21.875rem;
        overflow: hidden;

        position: relative; // S'assurer que le parent contrôle le positionnement de l'enfant
        
        &:hover .achievement__content {
            transform: translateY(0); // Amène l'élément à sa position visible sur hover
        }
    }
    
    &__fisheye{
        background-image: url(../img/fisheye_3.png);
        background-size: cover;
    }
    &__booki{
        background-image: url(../img/booki.jpg);
        background-size: cover;
    }
    &__cook{
        background-image: url(../img/petit_plat.jpg);
        background-size: cover;
    }
    &__password{
        background-image: url(../img/password_generator.jpg);
        background-size: cover;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        background: rgba(0,0,0,0.4);
        transition: transform 0.3s ease-in-out;
        transform: translateY(calc(100% - 4.5rem));
        position: absolute; // S'assurer que cet élément est positionné dans le parent
        bottom: 0;
        left: 0;
    }
                
    &__title{
        color:lighten($background-color, 10%);
        // background: radial-gradient(circle, rgba(8, 126, 139, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }

    & p{
        color:$background-color
    }

    &__button{
        cursor: pointer;
        margin-top: 1.5rem;
        padding: 0.75rem 1.5rem;
        font-size: 0.65rem;
        font-weight: bold;
        letter-spacing: 0.025rem;
        text-transform: uppercase;
        background-color: $main-color;
        color: $background-color;
        border: none;
        border-radius: .625rem;
        transition: all 0.2s ease-in-out;
        
        &:hover {
            background-color: lighten($tertiary-color, 30%);
            transform: scale(1.1);
        }
        
        &:focus {
            outline: 1px dashed yellow;
            outline-offset: 3px;
        }
    }

    /*
    * ADMIN achievement part
    */

    &__admin {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
    }

    &__glpi {
        background-image: url(../img/glpi.png);
        background-size: cover;
        background-position: center center;
    }

    &__wordpress {
        background-image: url(../img/wordpress.png);
        background-size: cover;
        background-position: center center;
    }

    &__nagios {
        background-image: url(../img/nagios.jpg);
        background-size: cover;
        background-position: center center;
    }

    &__pfsense {
        background-image: url(../img/pfsense_2.png);
        background-size: cover;
        background-position: center center;
    }
}

.skills{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    
    border: $border;

    &__title{
        width: fit-content;
        font-family: $title-font;
        font-size: 3rem;
        border-bottom: $main-color solid 0.625rem;
        align-self: end;
    }

    /******************
    *** Hard Skills ***
    *******************/

    &__hard{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        gap: 2rem;
    }

    &__language{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap: 16px;
    }

    &__software{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:15%;
    }

    &__concept{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15%;
    }

    &__card{
        max-width: 8rem;
        max-height: 8rem;
        
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    
    /************************
    *** Loading Animation ***
    *************************/

    &__loading{
        position:relative;
        height: 128px;
        width: 128px;
    }

    @keyframes rotating{
        from{
            rotate: (0deg);
        }
        
        to{
            rotate: (360deg);
        }
    }
    
    @keyframes scrolling-text {
        0% {
            transform: translateX(100%);
        }

        50% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
    
    
    &__loader-main {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 40%;
        width: 40%;
        margin-top: -20%;
        margin-left: -20%;
        border-top: solid 3px $main-color;
        border-left: solid 3px $main-color;
        border-radius: 50%;
        animation: rotating 1.5s linear infinite;
    }

    &__loader-1 {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        width: 50%;
        margin-top: -25%;
        margin-left: -25%;
        border-right: solid 2px $test-color;
        border-bottom: solid 2px $test-color;
        border-radius: 50%;
        animation: rotating 2s reverse infinite;
    }

    &__loader-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 60%;
        width: 60%;
        margin-top: -30%;
        margin-left: -30%;
        border-top: solid 3px $tertiary-color;
        border-right: solid 3px $tertiary-color;
        border-radius: 50%;
        animation: rotating 2.1s linear infinite;
    }

    &__loader-3 {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 70%;
        width: 70%;
        margin-top: -35%;
        margin-left: -35%;
        border-bottom: solid 3px $main-color;
        border-right: solid 3px $main-color;
        border-radius: 50%;
        animation: rotating 1.8s reverse infinite;
    }

    &__loader-text {
        position: absolute;
        top: calc(100% - 0.5em);
        left: 50%;
        width: 100%;
        height: 100%;
        margin-top: -50%;
        margin-left: -50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        
        & p {
            position: relative;
            white-space: nowrap;
            color: $font-color;
            font-weight: bold;
            animation: scrolling-text 10s linear infinite;
            z-index: 1;
        }
    }




    /******************
    *** Soft Skills ***
    *******************/
    
    &__soft{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    &__container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


}